src/flows/RSP_Coda_MIG_Document_Line_FFA_Field_resolution-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Did_we_resolve_a_NULL_Dim_3</name>
        <label>Did we resolve a NULL Dim 3</label>
        <locationX>572</locationX>
        <locationY>612</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lookup_Dim_3_again</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_RSPCodaMIG_Dim3ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lookup_Dimension_3_B</targetReference>
            </connector>
            <label>Lookup Dim 3 again</label>
        </rules>
        <rules>
            <name>Do_not_perform_secondary_lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_RSPCodaMIG_Dim3ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RSP_Coda_Mig_Document_Line_Target_Values</targetReference>
            </connector>
            <label>Do not perform secondary lookup</label>
        </rules>
    </decisions>
    <interviewLabel>RSP Coda MIG Document Line FFA Field resolution {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RSP Coda MIG Document Line FFA Field resolution</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_Account</name>
        <label>Lookup Account</label>
        <locationX>335</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Dimension_2</targetReference>
        </connector>
        <filters>
            <field>c2g__CODAReportingCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_RSPCodaMIG_el2</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_AccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Bank_Account</name>
        <label>Lookup Bank Account</label>
        <locationX>333</locationX>
        <locationY>753</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_we_resolve_a_NULL_Dim_3</targetReference>
        </connector>
        <filters>
            <field>c2g__ReportingCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_RSPCodaMIG_el1</elementReference>
            </value>
        </filters>
        <object>c2g__codaBankAccount__c</object>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_Bank</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dimension1</name>
        <label>Lookup Dimension1</label>
        <locationX>331</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Dimension_3</targetReference>
        </connector>
        <filters>
            <field>c2g__ReportingCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_RSPCodaMIG_el3</elementReference>
            </value>
        </filters>
        <object>c2g__codaDimension1__c</object>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_Dim1ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dimension_2</name>
        <label>Lookup Dimension 2</label>
        <locationX>331</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Dimension1</targetReference>
        </connector>
        <filters>
            <field>c2g__ReportingCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_RSPCodaMIG_el4</elementReference>
            </value>
        </filters>
        <object>c2g__codaDimension2__c</object>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_Dim2ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dimension_3</name>
        <label>Lookup Dimension 3</label>
        <locationX>327</locationX>
        <locationY>615</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Bank_Account</targetReference>
        </connector>
        <filters>
            <field>c2g__ReportingCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_RSPCodaMIG_el3</elementReference>
            </value>
        </filters>
        <object>c2g__codaDimension3__c</object>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_Dim3ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Dimension_3_B</name>
        <label>Lookup Dimension 3 (B)</label>
        <locationX>856</locationX>
        <locationY>619</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_RSP_Coda_Mig_Document_Line_Target_Values</targetReference>
        </connector>
        <filters>
            <field>c2g__ReportingCode__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_RSPCodaMIG_el4</elementReference>
            </value>
        </filters>
        <object>c2g__codaDimension3__c</object>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_Dim3ID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_RSP_Coda_MIG_Line_Variables</name>
        <label>Lookup RSP Coda MIG Line Variables</label>
        <locationX>329</locationX>
        <locationY>111</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_RSPCodaMIG_LineID</elementReference>
            </value>
        </filters>
        <object>RSP_MIG_Coda_Document_Line__c</object>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_el1</assignToReference>
            <field>src_el1__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_el2</assignToReference>
            <field>src_el2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_el3</assignToReference>
            <field>src_el3__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_RSPCodaMIG_el4</assignToReference>
            <field>src_el4__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_RSP_Coda_Mig_Document_Line_Target_Values</name>
        <label>Update RSP Coda Mig Document Line Target Values</label>
        <locationX>573</locationX>
        <locationY>861</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_RSPCodaMIG_LineID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>tgt_Account__c</field>
            <value>
                <elementReference>v_RSPCodaMIG_AccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tgt_Bank__c</field>
            <value>
                <elementReference>v_RSPCodaMIG_Bank</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tgt_Dimension1__c</field>
            <value>
                <elementReference>v_RSPCodaMIG_Dim1ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tgt_Dimension2__c</field>
            <value>
                <elementReference>v_RSPCodaMIG_Dim2ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>tgt_Dimension3__c</field>
            <value>
                <elementReference>v_RSPCodaMIG_Dim3ID</elementReference>
            </value>
        </inputAssignments>
        <object>RSP_MIG_Coda_Document_Line__c</object>
    </recordUpdates>
    <startElementReference>Lookup_RSP_Coda_MIG_Line_Variables</startElementReference>
    <variables>
        <name>v_RSPCodaMIG_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RSPCodaMIG_Bank</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RSPCodaMIG_Dim1ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RSPCodaMIG_Dim2ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RSPCodaMIG_Dim3ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RSPCodaMIG_el1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RSPCodaMIG_el2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RSPCodaMIG_el3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RSPCodaMIG_el4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_RSPCodaMIG_LineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
